{% extends "base.html" %}

{% block title %}Contrat - Dolimore{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/multiselect.css') }}">
<script src="{{ url_for('static', filename='js/tva.js') }}"></script>
<script src="{{ url_for('static', filename='js/nombre_en_lettres.js') }}"></script>
<div class="container mt-3" style="max-width: 900px;">
<div class="row mb-3">
    <div class="col">
        <h1>Générateur de contrat de cession</h1>
    </div>


<form action="." method="post">
    {{ form.hidden_tag() }}
    <div class="form-group row">
        <div class="col form-control">
            {% for item in form %}
            {% if item.label.text != "CSRF Token" and item.id != "submit" %}
                <h4 class="text-muted">{{ item.label }}</h4>
                {{ item(class="form-control") }}
                <br>
            {% endif %}
            {% endfor %}

            <div class="text-center">
                {{ form.submit(class="btn btn-success") }}
                <a href="upload"><button type="button" class="btn btn-primary">Modifier le modèle</button></a>
            </div>
        </div>
    </div>
    
</form>

</div>

<script>
    rate = 0.055;
    
    price_excl = document.getElementsByName('price_excl')[0];
    taxes = document.getElementsByName('taxes')[0];
    price_incl = document.getElementsByName('price_incl')[0];
    price_letter = document.getElementsByName('price_letter')[0]


    price_excl.addEventListener('input', function(e){
        taxes.value = calc_taxes(this.value, rate);
        price_incl.value = calc_price_incl(this.value, rate);
        price_letter.value = NumberToLetter(price_incl.value, "€", "Centimes");
    });

    price_incl.addEventListener('input', function(e){
        price_excl.value = calc_price_excl(this.value, rate);
        taxes.value = calc_taxes(price_excl.value, rate);
        price_letter.value = NumberToLetter(this.value, "Euros", "Centimes");
    });
</script>
{% endblock %}