{% extends "base.html" %}

{% block title %}Contrat - Dolimore{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/multiselect.css') }}">
<script src="{{ url_for('static', filename='js/multiselect.min.js') }}"></script>
<div class="container mt-3">
<div class="row mb-3">
    <div class="col">
        <h1>Charger modèle de contrat de cession</h1>
    </div>
</div>

<form action="." method="post" enctype = "multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group row">
        <div class="col form-control">
            <h4 class="text-muted">{{ form.file.label }}</h4>
            {{ form.file(accept=".odt", class="form-control") }}
            <br>

            <div class="text-center">
                {{ form.submit(class="btn btn-success")  }}
            </div>
        </div>
    </div>
</form>
{% endblock %}