{% extends "base.html" %}

{% block title %}Contrat - Dolimore{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/multiselect.css') }}">
<script src="{{ url_for('static', filename='js/multiselect.min.js') }}"></script>
<div class="container mt-3">
<div class="row mb-3">
    <div class="col">
        <h1>Charger modèle de contrat de cession</h1>
    </div>
</div>

<form action="." method="post" enctype = "multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group row">
        <div class="col form-control">
            <h4 class="text-muted">{{ form.file.label }}</h4>
            {{ form.file(accept=".odt", class="form-control") }}
            <br>

            <div class="text-center">
                {{ form.submit(class="btn btn-success")  }}
            </div>
        </div>
    </div>
    <br>
    <div>
        <p>
            <b>Comment créer le modèle</b>
            <ol>
                <li>Exporter le contrat au format .odt</li>
                <li>Ouvrir le document au format .odt dans LibreOffice</li>
                <li>Placer les balises de la page précédente à l'endroit souhaité dans le fichier (#object_number, #show_name...)</li>
                <li>Enregistrer le document au format .odt</li>
                <li>Envoyer le fichier.</li>
            </ol>
        </p>
        <br>
        <p>
            <b>Si certaines balises ne sont pas remplacées</b>
            <ul>
                <li>Assurez vous que le fichier est bien au format .odt</li>
                <li> Utiliser LibreOffice pour modifier et enregistrer le fichier (Word a tendance à rendre les fichiers .odt illisibles)</li>
                <li>Réecrire toute la ligne sur laquelle est la balise</li>
            </ul>
        </p>
    </div>
    
</form>
{% endblock %}