{% extends "base.html" %}

{% block title %}Mailing - Dolimore{% endblock %}

{% block content %}
<div class="content">
    <h1>Mailing Export</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <h2>Tiers</h2>
        {{ form.categories_customer }}
        {{ form.operator_customer }}
        {{ form.add_customer_contacts() }}{{ form.add_customer_contacts.label }}
        <br>
        <h2>Contact</h2>
        {{ form.categories_contact }}
        {{ form.operator_contact }}

        {{ form.submit() }} {{ form.delete() }}
    </form>
    <ul>
        {% for sublist in emails %}
            <li>Ajout {{ loop.index }}:</li>
            <ul>
            {% for email in sublist %}
                <li>{{ email }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}