{% extends "base.html" %}

{% block title %}Mailing - Dolimore{% endblock %}

{% block content %}
<div class="container mt-3">
<div class="row mb-3">
    <div class="col">
        <h1>Générateur de mailing</h1>
    </div>
</div>

<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="form-group row">
        <div class="col form-control">
            <div class="d-flex align-bottom">
                <div class="d-inline-block"><h2>Tiers</h2></div>

                {% for operator in form.operator_customer %}
                <div class="d-inline-block pt-3 form-check form-check-inline">
                {{ operator() }} {{ operator.label }}
                </div>
                {% endfor %}

            </div>

            {{ form.categories_customer(class="form-control") }}

            <div class="form-check">
                {{ form.add_customer_contacts() }} {{ form.add_customer_contacts.label }}
            </div>
        </div>

        <div class="col form-control">
            <div class="d-flex align-bottom">
                <div class="d-inline-block"><h2>Contact</h2></div>
            
                {% for operator in form.operator_contact %}
                <div class="d-inline-block pt-3 form-check form-check-inline">
                {{ operator }} {{ operator.label }}
                </div>
                {% endfor %}

            </div>

            {{ form.categories_contact(class="form-control") }}
        </div>
    </div>
    <div class="pt-3 text-center row">
        <div class="col">
            {{ form.submit(class="btn btn-primary") }}
            <button type="button" class="btn btn-success" onclick="location.href='{{ url_for('mailing_export') }}'">Télécharger</button>
            {{ form.delete(class="btn btn-outline-danger") }}
        </div>
    </div>
</form>
    <ul>
        {% for sublist in emails %}
            <li>Ajout {{ loop.index }}:</li>
            <ul>
            {% for email in sublist %}
                <li>{{ email }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}